<h1>All Saved GIFPoems/PoemGIFs/GIFOEMS</h1>
<ul>
  <li ng-repeat="poem in mainCtrl.poems">
    <a ng-click="mainCtrl.storeOnePoem(poem.id)" href="/poem/{{poem.id}}">{{poem.title}}, by {{poem.author}}</a>
  </li>
</ul>
