<div id="create-new">
  <h1>Paste your poem in the field below!</h1>
  <h2>(and enter a title / your name if you like)</h2>
  <form id="poem-form">
    <input id="poem-title" type="text" placeholder="Title" ng-model="poemCtrl.title"><br>
    <input id="poem-author" type="text" placeholder="Author Name" ng-model="poemCtrl.author"><br>
    <textarea id="poem-body" placeholder="POEM" ng-model="poemCtrl.body"></textarea><br>
    <button ng-click="poemCtrl.convert()">Submit</button>
  </form>
</div>
