<h3>{{showCtrl.poem.title}}</h3>
<h4>{{showCtrl.poem.author}}</h4>
<div id="poem-display">
  <div ng-repeat="lines in showCtrl.poem.poemContent track by $index">
    <h4>Line {{$index + 1}}</h4>
    <div id="line-display">
      <div id="word-display" ng-repeat="word in lines track by $index">
        <div class="img-wrapper" ng-show="word.linkToGIF">
          <img class="gif" src="{{word.linkToGIF}}" alt="{{word.word}}">
          <p class="hover-text">{{word.word}}</p>
        </div>
        <div class="no-gif" ng-show="!word.linkToGIF">
          <p>{{word.word}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
