<h1>Welcome to Poem2GIF</h1>
<p>The only poem-to-GIF translator on the internet (maybe)</p>

<a href="/new">Click here to make a new one!</a>
<a href="/all">See all the dang poems that have been saved!</a>
