<div id="welcome-h">
  <h1>Welcome to Poem2GIF</h1>
  <h3>The only poem-to-GIF translator on the internet (maybe)</h3>
  <img src="{{mainCtrl.introGIFUrl}}" alt="gif!"><br><br>
  <button ng-click="mainCtrl.redirect('new')">Click here to make a new one!</button>
  <!-- <button ng-click="mainCtrl.redirect('all')">See all the dang poems that have been saved!</button> -->
</div>
