<div id="welcome-h">
  <h1>Welcome to Poem2GIF</h1>
  <h3>The only poem-to-GIF translator on the internet (maybe)</h3>
</div>

<a href="/new">Click here to make a new one!</a>
<a href="/all">See all the dang poems that have been saved!</a>
