<div id="welcome-h">
  <h1><span id="logo">Poem2GIF</span></h1>
  <h3>The World's Only Poem-to-GIF Translator (Maybe)</h3>
  <img src="{{mainCtrl.introGIFUrl}}" alt="gif!"><br><br>
  <button ng-click="mainCtrl.redirect('new')">Go make one!</button>
  <!-- <button ng-click="mainCtrl.redirect('all')">See all the dang poems that have been saved!</button> -->
</div>
