/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

#poem-form {
  margin: 0 auto;
}

#poem-title {
  width: 40%;
}

#poem-body {
  height: 25rem;
  width: 80%;
  text-align: left;
  vertical-align: top;
  resize: none;
}

form > input, form > textarea {
  margin-bottom: 1rem;
}

#poem-display {
  width: 80%;
  border: 1px solid black;
  margin: 0.5rem auto;
  display: block;
  overflow: auto;
}

#poem-display > div {
  margin: 0.5rem;
}

#line-display {
  display: flex;
  margin-bottom: 1rem;
  overflow: scroll;
}

#word-display {
  position: relative;
  width: 100%:
}

#word-display > img, #word-display > div, .img-wrapper {
  display: inline-block;
  margin-left: 0.5rem;
  max-width: 15rem;
}

.img-wrapper {
  position: relative;
}

.hover-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(9, 142, 226, 0.6);
  color: #fff;
  display: none;
  opacity: 0;
  text-align: center;
  padding-top: 2rem;
  font-size: 2rem;
}

.img-wrapper:hover{
  opacity: 0.7;
}

.img-wrapper:hover .hover-text{
  display: inline;
  opacity: 1;
}

.gif {
  max-width: 15rem;
}

.no-gif {
  width: 15rem;
  height: 9rem;
  border: 1px solid black;
  text-align: center;
}

.no-gif > p {
  padding-top: 3rem;
  font-size: 2rem;
}
