/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* GLOBAL STYLES */

* {
  /*margin: 0;*/
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Yantramanav', sans-serif;
  color: white;
  /*background-color: black;*/
  background-image: url("http://i.imgur.com/RuJYgPu.gif");
  /*background-image: url("http://ak-hdl.buzzfed.com/static/2014-03/enhanced/webdr06/14/8/anigif_enhanced-31675-1394800389-3.gif");*/
  background-size: cover;
}

/* FOOTER */
#footer {
  margin-top: 1.5rem;
}

#footer-img {
  width: 10rem;
  margin: 1.5rem auto;
  /*display: inline;*/
  float: left;

}

.footer-icon1 {
  width: 3rem;
  float: right;
}

.footer-icon2 {
  width: 2.75rem;
  float: right;
}

/* WELCOME PAGE */

#welcome-h {
  text-align: center;
}

#welcome-h > h1 {
  font-size: 4rem;
}

#welcome-h > h3 {
  font-size: 1.5rem;
}

#welcome-h > img {
  max-width: 75%;
}

#welcome-h > button {
  padding: 1rem;
  border-radius: 25px;
  font-size: 1rem;
  font-family: 'Yantramanav', sans-serif;
}

/* NEW POEM FORM */

#poem-form {
  margin: 0 auto;
}

#poem-title, #poem-author {
  width: 40%;
}

#poem-body {
  height: 25rem;
  width: 80%;
  text-align: left;
  vertical-align: top;
  resize: none;
}

form > input, form > textarea {
  margin-bottom: 1rem;
}

/* GIFPOEM DISPLAY */

#poem-display {
  width: 80%;
  border: 1px solid black;
  margin: 0.5rem auto;
  display: block;
  overflow: auto;
}

#poem-display > div {
  margin: 0.5rem;
}

#line-display {
  display: flex;
  margin-bottom: 1rem;
  overflow: scroll;
}

#word-display {
  position: relative;
  width: 100%:
}

#word-display > img, #word-display > div, .img-wrapper {
  display: inline-block;
  margin-left: 0.5rem;
  max-width: 15rem;
}

.img-wrapper {
  position: relative;
}

.hover-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(9, 142, 226, 0.6);
  color: #fff;
  display: none;
  opacity: 0;
  text-align: center;
  margin: 0;
  padding-top: 2rem;
  font-size: 2rem;
}

.img-wrapper:hover{
  opacity: 0.7;
}

.img-wrapper:hover .hover-text{
  display: inline;
  opacity: 1;
}

.gif {
  max-width: 15rem;
}

.no-gif {
  width: 15rem;
  height: 9rem;
  border: 1px solid black;
  text-align: center;
}

.no-gif > p {
  margin: 0;
  padding-top: 3rem;
  font-size: 2rem;
}
