<!DOCTYPE html>
<html ng-app="poem2GIF">
<head>
  <title>Poem2GIF</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.4.8/angular-route.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Yantramanav' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <base href="/"></base>
</head>
<body>
  <div ng-view></div>
  <div id="footer">
    <a href="http://www.giphy.com/" target="_blank">
      <img id="footer-img" src="images/PoweredBy_200px-Black_HorizLogo.png" alt="powered by GIPHY">
    </a>
    <a href="http://github.com/kwwalter" target="_blank">
      <img class="footer-icon1" src="images/Github-icon_zpshdx1wtet.png" alt="github icon">
    </a>
    <a href="http://www.linkedin.com/in/kevinwalterdev" target="_blank">
      <img class="footer-icon2" src="images/linkedin+logo.png" alt="linkedin icon">
    </a>
  </div>
  <%= javascript_include_tag 'angular' %>
</body>
</html>
