<!DOCTYPE html>
<html ng-app="poem2GIF">
<head>
  <title>Poem2GIF</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.4.8/angular-route.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <base href="/"></base>
</head>
<body>
  <div ng-view></div>
  <%= javascript_include_tag 'angular' %>
</body>
</html>
