<!DOCTYPE html>
<html ng-app="poem2GIF">
<head>
  <title>Poem2GIF</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.4.8/angular-route.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Yantramanav' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Actor' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Nobile:700italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="font-awesome-4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <base href="/"></base>
</head>
<body>
  <div id="wrapper">
    <div id="content" ng-view>
    </div>
    <div id="footer">
      <a href="http://www.giphy.com/" target="_blank">
        <img id="footer-img" src="images/PoweredBy_200px-Black_HorizLogo.png" alt="powered by GIPHY">
      </a>
      <!-- <span>
        <i class="fa fa-copyright"></i> 2015 <a href="http://www.kevinwalterdev.com" target="_blank">Kevin Walter</a>
      </span> -->
      <a class="footer-icon" href="http://github.com/kwwalter/poem2gif" target="_blank">
        <!-- <img class="footer-icon" src="images/github-256.png" alt="github icon"> -->
        <!-- <img class="footer-icon" src="images/gh2.png" alt="github icon"> -->
        <i class="fa fa-github-square fa-4x"></i>
      </a>
    </div>
  </div>
  <%= javascript_include_tag 'angular' %>
</body>
</html>
